DROP SCHEMA IF EXISTS migration CASCADE;
CREATE SCHEMA migration;

DROP TABLE IF EXISTS migration.geometries;

SELECT hg.her_maphsa_id, hg.wkb_geometry,
hg.loc_cert, hg.geom_ext_ert, hg.sys_ref
INTO migration.geometries
FROM her_geom hg
JOIN extent.areas ea
ON ST_Intersects(hg.wkb_geometry, ea.geom);

DROP TABLE IF EXISTS migration.sites;

SELECT hm.id, hm.id_maphsa
INTO migration.sites
FROM her_maphsa hm
JOIN migration.geometries mg
ON mg.her_maphsa_id = hm.id;

DROP TABLE IF EXISTS migration.summaries;

SELECT hls.her_maphsa_id, hln.her_loc_name, hls.gen_descr
INTO migration.summaries
FROM her_loc_name hln
LEFT JOIN her_loc_sum hls ON hls.id = hln.her_loc_sum_id
WHERE hln.her_loc_name_type = (SELECT concept_id  FROM concept_table ct WHERE ct.concept_string LIKE 'Primary Name')
AND hls.her_maphsa_id IN (SELECT id FROM migration.sites);